@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input {
  font-family: "Poppins", sans-serif;
}



.auth__container {
    position: relative;
    width: 100%;
    background-color: $auth__primary;
    min-height: 100vh;
    overflow: hidden;
}

//   .auth__container__register {
//     position: relative;
//     width: 100%;
//     background-color: $auth__primary;
//     min-height: 100vh;
//     overflow: hidden;
//   }
  
  .auth__forms-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  
  .auth__signin {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 75%;
    width: 50%;
    transition: 1s 0.7s ease-in-out;
    display: grid;
    grid-template-columns: 1fr;
    z-index: 5;
  }

  .auth__signup {
    position: absolute;
    top: 0%;
    transform: translate(50%, 30%);
    right: 75%;
    width: 50%;
    transition: 1s 0.7s ease-in-out;
    display: grid;
    grid-template-columns: 1fr;
    z-index: 5;
  }
  
  form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0rem 5rem;
    transition: all 0.2s 0.7s;
    overflow: hidden;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  
//   form.auth__sign-up-form {
//     // opacity: 0;
//     z-index: 2;
//   }
  
//   form.auth__sign-in-form {
//     z-index: 2;
//   }
  
  .auth__title {
    font-size: 2.2rem;
    color: $auth__title;
    margin-bottom: 1rem;
  }
  
  .auth__input-field {
    max-width: 380px;
    width: 100%;
    background-color: $auth__fiel;
    margin: 10px 0;
    height: 55px;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
    position: relative;
  }
  
  .auth__input-field i {
    text-align: center;
    line-height: 55px;
    color: $auth__fiel__icon;
    transition: 0.5s;
    font-size: 1.1rem;
  }
  
  .auth__input-field input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: $auth__fiel__input;
  }
  
  .auth__input-field input::placeholder {
    color: $auth__fiel__input_placeolder;
    font-weight: 500;
  }
  
  
  .auth__btn {
    width: 150px;
    background-color: $auth__btn;
    border: none;
    outline: none;
    height: 49px;
    border-radius: 49px;
    color: $auth__primary;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
  }
  
  .auth__btn:hover {
    background-color: $auth__btn__hover;
  }
  
  .auth__social-text {
    padding: 0.7rem 0;
    font-size: 1rem;
  }
  
  .auth__social-media {
    display: flex;
    justify-content: center;
  }
  
  .auth__social-icon {
    height: 46px;
    width: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.45rem;
    color: $auth__fiel__input;
    border-radius: 50%;
    border: 1px solid $auth__fiel__input;
    text-decoration: none;
    font-size: 1.1rem;
    transition: 0.3s;
  }
  
  .auth__social-icon:hover {
    color: $auth__icon__hover;
    border-color: $auth__icon__hover;
  }
  
  
  .panels-container {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  
//   .auth__container:before {
//     content: "";
//     position: absolute;
//     height: 2000px;
//     width: 2000px;
//     top: -10%;
//     left: 48%;
//     transform: translateY(50%);
//     background-image: linear-gradient(-45deg, #4481eb 0%, #04befe 100%);
//     transition: 1.8s ease-in-out;
//     border-radius: 50%;
//     z-index: 1;
//   }
//   .auth__container__register:before {
//     content: "";
//     position: absolute;
//     height: 2000px;
//     width: 2000px;
//     top: 40%;
//     right: -110%;
//     transform: translateY(-60%);
//     background-image: linear-gradient(45deg, #4481eb 0%, #04befe 100%);
//     transition: 1.8s ease-in-out;
//     border-radius: 50%;
//     z-index: 6;
//   }
  
  .image {
    width: 100%;
    transition: transform 1.1s ease-in-out;
    transition-delay: 0.4s;
  }
  
//   .panel {
//     display: flex;
//     flex-direction: column;
//     align-items: flex-end;
//     justify-content: space-around;
//     text-align: center;
//     z-index: 6;
//   }
  
//   .left-panel {
//     pointer-events: all;
//     padding: 3rem 17% 2rem 12%;
//   }
  
//   .right-panel {
//     // pointer-events: none;
//     padding: 3rem 12% 2rem 17%;
//   }
  
//   .panel .content {
//     color: #fff;
//     transition: transform 0.9s ease-in-out;
//     transition-delay: 0.6s;
//   }
  
//   .panel h3 {
//     font-weight: 600;
//     line-height: 1;
//     font-size: 1.5rem;
//   }
  
//   .panel p {
//     font-size: 0.95rem;
//     padding: 0.7rem 0;
//     margin-bottom: 1rem;
//   }
  
  // .btn.transparent {
  //   margin: 0;
  //   background: none;
  //   border: 2px solid #fff;
  //   width: 130px;
  //   height: 41px;
  //   font-weight: 600;
  //   font-size: 0.8rem;
  // }
  
  .auth__btn__register{
    padding: 1rem;
    margin-top: 2rem;
    text-decoration: none;
    background: none;
    border: 2px solid #fff;
    margin: 0;
    cursor: pointer;
    width: 4rem;
    height: 41px;
    font-weight: 600;
    font-size: 0.8rem;
    border-radius: 3rem;
    color: #fff;
  }
  .auth__btn__register:hover{
    background: #fff;
    border: 2px solid $auth__fiel__input;
    cursor: pointer;
    color: $auth__fiel__input;
  }
  
//   .right-panel .image,
//   .right-panel .content {
//     transform: translateX(500px);
//   }
  