/*==================== MAIN ====================*/

.main {
    padding:$mb-1-5;
    // background:blue;
    // overflow: scroll;
    background:$container-color;
    min-height: calc(100vh - 70px);
    margin-top: 70px;
    margin-left: 270px;
    // left: 270;
    width: calc(96% - 270px);
    // overflow-x: hidden;
}
.mainView {
    padding:$mb-1-5;
    background:$container-color;
    min-height: calc(100vh - 70px);
    // width: calc(100% - 270px);

    margin-top: 70px;
    // margin-left: 270px;
    left: 0;
    // margin-right: 0;
    width: 96%;
    // overflow-x: hidden;

}

.dash__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dash__info h1 {
    font-size:$h1-font-size;
    color:$title-color;
}

.dash__info small {
    font-size:$small-font-size;
    color:$text-color-light;
}

// user
@import '../content/_userContent.scss'