
/*==================== GOOGLE FONTS ====================*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


/*==================== VARIABLES CSS ====================*/


$header-height: 3rem;
/* Change favorite color */
$hue-color: 250;
/*========== Colors ==========*/
$container-color: #FAFAFA;
$body-color: #FCFCFC;
$title-color: #0B0A0A;
$text-color: #403A3A;
$text-color-light: #707070;
$icon-color: #7f7f7f;
$icon-color-hover: #8DA2FB;
$button-head-color: #5850ec;
$bg-icon-color-hover: #efefef;
$container-sidebar-color: #11101D;
$container-sidebar-footer-color: #1D1B31;
$icon-sidebar-color: #fff;
$title-sidebar-color-hover: #0B0A0A;
$title-sidebar-color: #fefefe;
$scroll-bar-color: hsl($hue-color, 12%, 90%);
$scroll-thumb-color: hsl($hue-color, 12%, 80%);
/*========== Font and typography ==========*/
$body-font: 'Poppins', sans-serif;
/* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
$big-font-size: 2rem;
$h1-font-size: 1.5rem;
$h2-font-size: 1.25rem;
$h3-font-size: 1rem;
$icon-font-size-big: 1.5rem;
$icon-font-size-normal: 1.2rem;
$icon-font-size-small: .8rem;
$normal-font-size: .938rem;
$small-font-size: .813rem;
$smaller-font-size: .75rem;
/*========== Font weight ==========*/
$font-medium: 500;
$font-semi-bold: 600;
/*========== Margenes Bottom ==========*/
/* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
$mb-0-25: .25rem;
$mb-0-5: .5rem;
$mb-0-75: .75rem;
$mb-1: 1rem;
$mb-1-5: 1.5rem;
$mb-2: 2rem;
$mb-2-5: 2.5rem;
$mb-3: 3rem;
/*========== z index ==========*/
$z-tooltip: 10;
$z-fixed: 100;
$z-modal: 1000;


html {
    // scroll-behavior: smooth;
}

body {
    margin: 0 0 $header-height 0;
    font-family: $body-font;
    font-size: $normal-font-size;
    background-color: $body-color;
    // background-color: crimson;
    color: $text-color;
    // overflow: hidden;
    overflow-x: hidden;
}


h1,
h2,
h3,
h4 {
    color: $title-color;
    font-weight: $font-semi-bold;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}


// // *==================== REUSABLE CSS CLASSES ====================*/

// .section {
//     padding: 2rem 0 4rem;
// }

// .section__title {
//     font-size: $h1-font-size;
// }

// .section__subtitle {
//     display: block;
//     font-size: $small-font-size;
//     margin-bottom: $mb-3;
// }

// .section__title,
// .section__subtitle {
//     text-align: center;
// }


// /*==================== LAYOUT ====================*/

// .container {
//     max-width: 768px;
//     margin-left: $mb-1-5;
//     margin-right: $mb-1-5;
// }

// .grid {
//     display: grid;
//     gap: 1.5rem;
// }


// /*==================== CONTENT MAIN HEADER NAV ====================*/


// /* show or hidden menu */

.show-menu {
    margin-left: -270px;
    transition: .3s;
}

.hidden-menu {
    margin-left: 0px;
    transition: .3s;
}

.body-container {
    /* left: -110px; */
    margin-left: 0;
    /* margin-left: -2070; */
    width: 100%;
    transition: .3s;
}

// .headerA{
//     background: rgb(40, 160, 24);
// }

// .algo{
//     background-color: aqua;
// }

.body-container-nav {
    // left: -270px;
    width: calc(100% -270px);
    transition: .3s;
}

/*========== SCROLL BAR ==========*/

::-webkit-scrollbar {
    width: .60rem;
    height: .60rem;
    background-color: $scroll-bar-color;
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb {
    background-color: $scroll-thumb-color;
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: $text-color-light;
}



// // // siderbar
@import './siderbar/siderbar';

// navbar
@import './navbar';

// main content
@import './mainContent/mainContent.scss';

// footer
@import './footer';
