/*==================== FOOTER ====================*/

footer {
    position: fixed;
    bottom: 0;
    /* width: 100%; */
    margin-left: 270px;
    width: calc(100% - 270px);
    /* margin-top: 10rem; */
    background-color: $body-color;
    /* background-color: red; */
    box-shadow: 4px -4px 10px rgba(0, 0, 0, 0.1);
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__end {
    font-size: $smaller-font-size;
    color: $title-color;
    font-weight: $font-semi-bold;
}