/*==================== HEADER ====================*/


/* left: 270px; */

// main {
//     margin-left: 270px;
//     width: calc(100% - 270px);
// }

header {
    margin-left: 270px;
    height: 70px;
    width: calc(100% - 270px);
    display: flex;
    top: 0;
    justify-content: space-between;
    align-items: center;
    // padding: 1rem .3rem;
    position: fixed;
    z-index: 20;
    background: $body-color;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    transition: left 300ms;
}

.menu__toggle {
    color: $icon-color;
    width: 60px;
    height: 60px;
    display: grid;
    place-items: center;
    font-size: 1.5rem;
    border-radius: 50%;
    cursor: pointer;
}


/* .header__data span {
    cursor: pointer;
    display: inline-block;
    font-size: 1.4rem;
    margin-left: .7rem;
}

.header-icons span:hover {
    color: $menu-head-title);
} */

.menu__toggle:hover {
    background-color: $bg-icon-color-hover;
    color: $icon-color-hover;
}

.header__data,
.header__user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: $mb-0-5;
}

.header__img {
    border-radius: 20%;
    /* background-color: red; */
    width: 45px;
    height: 45px;
    margin-right: $mb-0-5;
}

.header__img img {
    width: 90%;
    border-radius: 50%;
    border-left: 2px solid $bg-icon-color-hover;
    border-right: 2px solid $bg-icon-color-hover;
    border-bottom: 2px solid $bg-icon-color-hover;
    border-top: 2px solid $bg-icon-color-hover;
}

.header__img img:hover {
    cursor: pointer;
    background-color: $bg-icon-color-hover;
}

.header__info {
    display: grid;
    align-items: center;
    /* text-align: center; */
    /* font-size: $smaller-font-size; */
    /* justify-content: space-around;
    justify-items: self-start; */
}

.header__info span b {
    font-size: $normal-font-size;
    color: $text-color;
}

.header__info span {
    font-size: $smaller-font-size;
    color: $text-color-light;
}

.header__icons {
    font-size: 1.2rem;
    color: $icon-color;
}

.header__icons i:hover,
.header__user i:hover {
    cursor: pointer;
    color: $icon-color-hover;
}

.header__user i {
    font-size: 1.2rem;
    color: $icon-color;
    margin-left: $mb-0-75;
}
