@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.main__bg{
    // background-color: aquamarine;
    background-image: linear-gradient(45deg, $auth__bg__circle 0%, $auth__bg__circle1 100%);
     
    text-align: center;
}
.main__content{
    height: 100vh;
    width: 100vw;
    // width: 50vw;
    // align-items: center;
}
.main__content h1 {
    padding-top: 5rem;
    font-size: 3rem;
    font-weight: lighter;
}

.main__container__card{
    display:flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 7rem;
    height: 15rem;
}

.main__card{
    // background-color: blueviolet;
    width: 16rem;
    height: 15rem;
    border-radius: 1.3rem;
    cursor: pointer;
    text-decoration: none;
}

// hover y icon
.main__card:hover{
    box-shadow: 1px 1px 20px -10px #20202049;
}

.main__card:hover .main__title{
    margin-top: 0;
    border-radius: 0px 0px 20px 20px;
}

.main__card:hover .main__icon{
    margin-top: -50px;
    border-radius: 20px 20px 0px 0px;
}

.main__icon{
    width: 16rem;
    height: 15rem;
    // height: 220px;
    background: #EFF3F5;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    transition: all 400ms cubic-bezier(0.5,0,0,1);
    border-radius: 20px;
}

.main__icon i{
    font-size: 150px;
    color: #fff;
    transition: all 400ms cubic-bezier(0.5,0,0,1);
}

.main__title{
    width: 100%;
    height: 20px;
    color: #474747;
    background: #EFF3F5;
    padding: 20px;
    margin-top: -220px;
    transition: all 400ms cubic-bezier(0.5,0,0,1);
    border-radius: 20px;
}

.main__title p{
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    overflow: hidden;
}

/*COLOR DE LAS CARD*/

.main__c1:hover .main__icon{
    background: #DD4B25;
}

.main__c1 .main__icon i{
    color: #DD4B25;
}

.main__c1:hover .main__icon i{
    color: #fff;
}


.main__c2:hover .main__icon{
    background: #146EB0;
}

.main__c2 .main__icon i{
    color: #146EB0;
}

.main__c2:hover .main__icon i{
    color: #fff;
}


.main__c3:hover .main__icon{
    background: #E8B600;
}

.main__c3 .main__icon i{
    color: #E8B600;
}

.main__c3:hover .main__icon i{
    color: #fff;
}
