.user__social__title{
    text-align: center;
    padding-bottom: .5rem;
}
.user__social_content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: .5rem;
}
.user__social__entry{
   text-align: center;
}

.user__social__data{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.user__social__label{
    display: flex;
    flex-direction: column;
    padding: .5rem 0;
}
.user__social__label label {
    margin-bottom: .5rem;
    // height: 2rem;
}
.user__social__label input {
    // margin-bottom: .5rem;
    height: 1.5rem;
}

.user__social__data button {
    border: none;
    width: 100%;
    height: 2rem;
    cursor: pointer;
}

.user__social__entries{
    display: flex;
    // justify-content: space-between;
    flex-direction: column;
    // display: grid;
    // grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: 5rem;
    align-items: center;
}
// entry
.social__entry__box{
    background-color: burlywood;
    width: 45%;
    border-radius: .5rem;
    margin: 1rem 1rem 0 1rem;
    display: flex;
    justify-content: space-between;
    cursor: pointer;

}
.social__entry__body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    // cursor: pointer;
}
.social__entry__body i {
    width: 3rem;
    height: auto;
    font-size: 1.5rem;
    text-align: center;
    color: cornflowerblue;
}

.social__entry__title p{
    font-weight: bold;
    font-size: .9rem;
    margin-bottom: .3rem;

}
.social__entry__button{
    background: none;
    border: none;
    cursor: pointer;

    &:hover{
        background-color:crimson ;
        border-radius: .5rem;
    }
}