.user__title{
    margin-bottom: 1.5rem;

}
.user__content{
    display: flex;
    justify-content: space-between;

}

.user__data{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    // padding: .5rem;
}
.user__info{
    display: flex;
    justify-content: space-between;
}
.user__block{
    display: flex;
    flex-direction: column;
    padding: .5rem;

}
.user__block label{
    margin-bottom: .5rem;
}
.user__block input{
    // margin-bottom: .5rem;
    width: 25vw;
    height: 2rem;
}
.user__block textarea{
    // margin-bottom: .5rem;
    width: 35.5rem;
    height: 7rem;
    border: none;
        flex: 1 1 auto;
        resize: none;
}
.user__img{
    text-align: center;
    padding-right: 2rem;
}

.user__img img{
    height: 30vh;
    width: 20vw;
}

.user__img button {
    border: none;
    width: 100%;
    height: 2rem;
    cursor: pointer;
}

// social
@import './socialUserContent'

// .user__content{
//     display: grid;
//     grid-template-columns: repeat(2, 1fr);
// }

// .user__data{
//     display: grid;
//     grid-template-columns: 1fr;
// }

// .user__info {
//     display: grid;
//     grid-template-columns: repeat(2, 1fr);
// }

// .user__block{
//     height: auto;
// }

// .user__block label, input, textarea{
//     display: block;
//     width: 95%;
//     margin-bottom: .5rem;
// }
// .user__block input {
//   padding: 0 0.4rem;

//     height: 2rem;
//     background: #000;
// }
// .user__block textarea {
//     border: none;
//     // color: $dark-grey;
//     flex: 1 1 auto;
//     resize: none;
// }
// .user__img{
//     text-align: center;
// }

// .user__img img{
//     box-shadow: 5px 5px #989898;
//     height: 20vh;
// }