
.dashboard__siderbar{
    padding: $mb-0-75 $mb-1;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: $container-sidebar-color;
    width: 238px;
    // width: 270px;
    z-index: $z-fixed;
}


/* sidebar__brand */
.sidebar__brand {
    display: flex;
    padding: .4rem;
}

.icon__sidebar {
    position: relative;
    margin-top: .36rem;
    margin-right: $mb-0-75;
    font-size: $icon-font-size-big;
    color: $icon-sidebar-color;
}

.sidebar__admin span {
    font-family: $body-font;
    font-size: $h1-font-size;
    color: $icon-sidebar-color;
}


/* Sidebar menu */

.sidebar__menu {
    // z-index: $z-fixed;

    padding-top: 1rem;
    // overflow: hidden;
    // overflow-y: scroll;
    height: 620px;
    /* padding: var($mb-0-75 var($mb-1; */
}

.tooltip {
    display: none;
}

.nav__list {
    margin-top: $mb-0-75;
    margin-bottom: $mb-0-75;
    padding-left: 0;
    // overflow: scroll;
    // overflow-y: scroll;

}

.nav__list-li {
    // overflow: hidden;
    position: relative;
    height: 50px;
    width: 100%;
    border-radius: $mb-0-75;
    /* background-color: #1D1B31; */
    margin-bottom: $mb-0-75;
    /* padding: $mb-0-25; */
}

.nav__list-a {
    height: 50px;
    border-radius: $mb-0-75;
    color: #fff;
    display: flex;
    align-items: center;
    align-items: center;
    text-decoration: none;
}

.nav__list-a:hover {
    color: #11101d;
    background: #fff;
}
.active {
    color: #11101d;
    background: #fff;
}

.icon__sidebar-menu,
.links__name {
    font-size: $h3-font-size;
    margin-left: $mb-0-75;
    font-weight: $font-medium;
    /* margin-right: $mb-0-25; */
}


/* Sidebar footer */

.sidebar__footer {
    background-color: $container-sidebar-footer-color;
    position: absolute;
    padding: $mb-0-75;
    margin: 0;
    height: 80px;
    // width: auto;
    width: 91%;
    bottom: 0;
    left: 0;
}

.sidebar__footer-data {
    display: flex;
    justify-content: space-between;
    font-size: $small-font-size;
    color: $body-color;
    padding: $mb-0-25;
}

.icon__sidebar-footer {
    font-size: 1.2rem;
    cursor: pointer;
}

.sidebar__footer-time {
    display: flex;
    justify-content: space-between;
    font-size: $smaller-font-size;
    color: $bg-icon-color-hover;
    padding: $mb-0-5;
}

.sidebar__footer-time span {
    justify-content: center;
}
