
// // Colors

// $primary: #5C62C5;
// $dark-grey: #363636;
// $light-grey: #d8d8d8;


// // desing in btn google
// $white: #fff;
// $google-blue: #4285f4;
// $button-active-blue: #1669f2;

// auth Colors
$auth__primary: #ffff;
$auth__title: #444;

$auth__fiel: #f0f0f0;
$auth__fiel__icon: #acacac;
$auth__fiel__input: #333;
$auth__fiel__input_placeolder: #aaa;

$auth__btn: #5995fd;
$auth__btn__hover: #4d84e2;

$auth__icon__hover: #4481eb;

$auth__bg__circle: #4481eb;
$auth__bg__circle1: #04befe;

// end Auth colors


// /*==================== GOOGLE FONTS ====================*/

// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


// /*==================== VARIABLES CSS ====================*/


// $header-height: 3rem;
// /* Change favorite color */
// $hue-color: 250;
// /*========== Colors ==========*/
// $container-color: #FAFAFA;
// $body-color: #FCFCFC;
// $title-color: #0B0A0A;
// $text-color: #403A3A;
// $text-color-light: #707070;
// $icon-color: #7f7f7f;
// $icon-color-hover: #8DA2FB;
// $button-head-color: #5850ec;
// $bg-icon-color-hover: #efefef;
// $container-sidebar-color: #11101D;
// $container-sidebar-footer-color: #1D1B31;
// $icon-sidebar-color: #fff;
// $title-sidebar-color-hover: #0B0A0A;
// $title-sidebar-color: #fefefe;
// $scroll-bar-color: hsl(var($hue-color), 12%, 90%);
// $scroll-thumb-color: hsl(var($hue-color), 12%, 80%);
// /*========== Font and typography ==========*/
// $body-font: 'Poppins', sans-serif;
// /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
// $big-font-size: 2rem;
// $h1-font-size: 1.5rem;
// $h2-font-size: 1.25rem;
// $h3-font-size: 1rem;
// $icon-font-size-big: 1.5rem;
// $icon-font-size-normal: 1.2rem;
// $icon-font-size-small: .8rem;
// $normal-font-size: .938rem;
// $small-font-size: .813rem;
// $smaller-font-size: .75rem;
// /*========== Font weight ==========*/
// $font-medium: 500;
// $font-semi-bold: 600;
// /*========== Margenes Bottom ==========*/
// /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
// $mb-0-25: .25rem;
// $mb-0-5: .5rem;
// $mb-0-75: .75rem;
// $mb-1: 1rem;
// $mb-1-5: 1.5rem;
// $mb-2: 2rem;
// $mb-2-5: 2.5rem;
// $mb-3: 3rem;
// /*========== z index ==========*/
// $z-tooltip: 10;
// $z-fixed: 100;
// $z-modal: 1000;

// /*==================== GOOGLE FONTS ====================*/

// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


// /*==================== VARIABLES CSS ====================*/


// $header-height: 3rem;
// /* Change favorite color */
// $hue-color: 250;
// /*========== Colors ==========*/
// $container-color: #FAFAFA;
// $body-color: #FCFCFC;
// $title-color: #0B0A0A;
// $text-color: #403A3A;
// $text-color-light: #707070;
// $icon-color: #7f7f7f;
// $icon-color-hover: #8DA2FB;
// $button-head-color: #5850ec;
// $bg-icon-color-hover: #efefef;
// $container-sidebar-color: #11101D;
// $container-sidebar-footer-color: #1D1B31;
// $icon-sidebar-color: #fff;
// $title-sidebar-color-hover: #0B0A0A;
// $title-sidebar-color: #fefefe;
// $scroll-bar-color: hsl($hue-color, 12%, 90%);
// $scroll-thumb-color: hsl($hue-color, 12%, 80%);
// /*========== Font and typography ==========*/
// $body-font: 'Poppins', sans-serif;
// /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
// $big-font-size: 2rem;
// $h1-font-size: 1.5rem;
// $h2-font-size: 1.25rem;
// $h3-font-size: 1rem;
// $icon-font-size-big: 1.5rem;
// $icon-font-size-normal: 1.2rem;
// $icon-font-size-small: .8rem;
// $normal-font-size: .938rem;
// $small-font-size: .813rem;
// $smaller-font-size: .75rem;
// /*========== Font weight ==========*/
// $font-medium: 500;
// $font-semi-bold: 600;
// /*========== Margenes Bottom ==========*/
// /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
// $mb-0-25: .25rem;
// $mb-0-5: .5rem;
// $mb-0-75: .75rem;
// $mb-1: 1rem;
// $mb-1-5: 1.5rem;
// $mb-2: 2rem;
// $mb-2-5: 2.5rem;
// $mb-3: 3rem;
// /*========== z index ==========*/
// $z-tooltip: 10;
// $z-fixed: 100;
// $z-modal: 1000;

